html,
body{
	width:100%;
	height:100%;
	padding: 0;
	margin:0;
}

body{
	background-image: linear-gradient(to bottom, rgb(55, 55, 55) 0%, rgb(8, 8, 8) 80%, rgb(0, 0, 0) 100%);
	font-family: sans-serif;
}

#root{
	width:inherit;
	height:inherit;
}

.App{
	width:inherit;
	height:inherit;	
}